.item-container {
    display: flex;
    background-color: rgb(235, 230, 230);
    border-radius: 3px;
    justify-content: space-between;
    width: 1000px;
}

.item-info {
    display: flex;
}

.product-image {
    width: 150px;
    padding: 16px;
}

.title-and-price-container {
    align-self: center;
}

.product-price {
    font-size: 10px;
}

.price-order-container {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-right: 32px;
}

.price-order-container button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 8px 24px 8px 24px;
    max-height: 50%;
}

button:hover {
    cursor: pointer;
}