<div class="container">
    <div class="title-and-description">
        <h2>HISTORY - ORDER #312837</h2>
        <p>
            List of all items purchased on January 27th with order ID
            #312837.
        </p>
    </div>
    <div class="outer-item-container">
        <button routerLink="/history">&lt;- Go back</button>

        <app-history-order-item />
        <app-history-order-item />
        <app-history-order-item />
        <app-history-order-item />


        <p>TOTAL 1797 USD</p>
    </div>
</div>