footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 90px;
    width: 100%;
    padding: 0px 30px 30px 30px;
    margin-top: 24px;
}

.footer-mid-container {
    display: flex;
    flex-direction: column;
}

.footer-item {
    width: 200px;
    font-size: 18px;
}

.footer-item-webshop {
    align-self: center;
    font-size: 30px;
}
