<div class="container">
  <div class="title-and-description">
    <h2>CART</h2>
    <p class="cart-description">
      Take a look at what you have in your cart so far and order when you feel
      ready
    </p>
  </div>
  <div class="all-items-container">
    <div class="item-container" *ngFor="let product of cartProducts; index as i">
      <div class="left-item-container">
        <img class="product-image" src="{{product.image_url}}" alt="bag" />
        <div class="title-and-price-container">
          <div *ngIf="product.quantity > 0; then multiple; else single"></div>
          <ng-template #single>
      <p>{{product.name}}</p>
    </ng-template>
          <ng-template #multiple>
      <p>{{product.name}} x {{product.quantity}}</p>
    </ng-template>
          <p class="product-price">{{product.price}} $</p>
        </div>
      </div>
      <div class="remove-item-container">
        <button class="trash-button" (click)="removeProductFromCart(product._id)">
          <svg class="trash-icon" viewBox="0 0 24 24">
            <path
              d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"
            />
          </svg>
        </button>
        <p style="font-size: 15px; margin-bottom: 12px">Remove item</p>
      </div>
    </div>
  </div>
  <div class="checkout-container">
    <p>TOTAL {{getTotalPrice(cartProducts)}} USD</p>
    <button (click)="purchaseCart()" class="checkout-button">GO TO CHECKOUT</button>
  </div>
</div>
