
header {
	display: flex;
	position: relative;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
  margin-bottom: 40px;
	background-color: black;
}

.shop-title {
	align-self: center;
}

.text-icon {
	display: flex;
	align-items: center;
	padding-left: 8px;
	padding-right: 8px;
}

path {
	fill: white;
}

.white-text {
	color: white;
	padding-left: 10px;
	font-size: 22px;
  text-decoration: none;
}

.svg-button {
	background-color: transparent;
	border-style: none;
}
